@font-face{
	font-family: 'Uni Neue'; 
	src: url('../fonts/UniNeueRegular.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Uni Neue'; 
	src: url('../fonts/UniNeueBold.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: bold;
}

@font-face{
	font-family: 'Uni Neue'; 
	src: url('../fonts/UniNeueBook.woff') format('woff');
	font-style: normal;
	font-display: swap;
	font-weight: 300;
}