.accordion{
	width: 100%;
	margin-bottom: 7px;
	transition: all $t;
	color: #6D8092;
	position: relative;

	&.opened,
	&:hover{
		color: $accent;
	}

	&:last-child{
		margin-bottom: 0;
	}

	.ac-header{
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		border: 1px solid #EBEBEB;
		position: relative;
		background: #EFF1F4;
	}

	.ac-opener{
		flex: none;
		display: block;
		width: 96px;
		height: 100%;
		margin-left: 15px;
		background: #fff;
		position: absolute;
		right: 0;
		top: 0;
		border: 1px solid #EBEBEB;

		&:before,
		&:after{
			content: '';
			display: block;
			width: 18px;
			height: 2px;
			background: $accent;
			border-radius: 2px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -9px;
			margin-top: -1px;
			transition: all $t;
		}

		&:after{
			transform: rotate(-90deg);
		}
	}

	&.opened{
		.ac-opener{
			background: $accent;

			&:before{
				background: #fff;
			}

			&:after{
				opacity: 0;
			}
		}
	}

	.ac-caption{
		font-size: 18px;
		line-height: 1.33;
		font-weight: bold;
		margin-left: 30px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.ac-content{
		display: none;
		padding: 4px 0 32px;

		.cards-list{
			margin-top: 16px;
		}
	}

	@media screen and (max-width: 767px){
		.ac-opener{
			width: 44px;
		}

		.ac-caption{
			margin-left: 15px;
			max-width: calc(100% - 50px);
		}
	}
}