.pagination-wrapper{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 40px;

	@media screen and (max-width: 575px){
		justify-content: space-between;
	}

	.pagination{
		display: flex;
		justify-content: center;

		li{
			margin-right: 15px;
			color: #6D8092;

			&:last-child{
				margin-right: 0;
			}

			a{
				font-size: 16px;
				line-height: 1;
				font-weight: bold;
				text-align: center;
				color: inherit;
				transition: all $t;

				&:hover,
				&:focus{
					color: $accent;
				}
			}

			&.current{
				a{
					cursor: default;
					pointer-events: none;
					color: $accent;
				}
			}
		}
	}

	.prevnext{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: 1px solid $accent;
		border-radius: 50%;

		svg{
			width: 8px;
			height: 14px;
			display: block;
			fill: $accent;
			transition: all $t;
		}

		&:hover{
			border-color: $primary;

			svg{
				fill: $primary;
			}
		}

		&.prev{
			margin-right: 27px;
		}

		&.next{
			margin-left: 27px;
		}
	}
}