.table{
	padding: 0;
	border-spacing: 0;
	width: 100%;
	font-family: $main-font;
	font-weight: 400;

	@media screen and (min-width: 1320px){
		&.fixed-layout{
			table-layout: fixed;
		}
	}

	tr{
		&:last-child{
			margin-bottom: 0;
		}

		td{
		}
	}

	tbody{
		tr{
			&:nth-child(odd){
				background: rgba(#EFF1F4, .33);
			}
		}

		td{
			border-bottom: 1px solid #EBEBEB;

			&:first-child,
			&[rowspan] + td{
				border-left: 1px solid #EBEBEB;
			}

			&:last-child{
				border-right: 1px solid #EBEBEB;
			}
		}

		tr:first-child td{
			border-top: 1px solid #EBEBEB;
		}
	}

	td,
	th{
		padding: 10px 30px;
		height: 47px;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1.3;
	}

	th{
		color: rgba($accent, .3);
		text-align: left;
		font-weight: 400;
		font-size: 14px;
	}

	td{
		color: #484848;
		font-size: 15px;

		strong{
			color: $text-dark;
		}
	}

	.text-right{
		text-align: right !important;
	}

	.file-link-btn{
		display: inline-block;
		white-space: nowrap;
	}

	.filesize{
		font-size: 15px;
		color: #6D8092;
		white-space: nowrap;
	}

	.file-name{
		display: inline-block;
		margin-right: 32px;
	}

	.color-red{
		color: $primary;
	}

	a:not(.file-link-btn){
		color: $accent;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
}

.downloads-list{
	font-weight: 400;
	border: 1px solid #EBEBEB;

	.item{
		padding: 10px 17px 20px;
		border-bottom: 1px solid #ebebeb;
		position: relative;

		&:last-child{
			border-bottom: 0;
		}
	}

	.filesize{
		font-size: 15px;
		color: #6D8092;
		white-space: nowrap;
	}

	.item-caption{
		color: #484848;
		font-size: 13px;
		margin-bottom: 14px;

		&:last-child{
			margin-bottom: 0;
		}

		strong{
			color: $text-dark;
		}
	}

	.item-footer{
		display: flex;
		justify-content: space-between;
	}

	.file-link-btn{
		.link-inner{
			clip-path: unset;
		}

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.files-list{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: -10px;

		.fl-item{
			margin-bottom: 10px;
			margin-right: 15px;
			display: flex;
			align-items: center;
			position: relative;

			.filesize{
				margin-right: 10px;
				font-size: 12px;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}
}