.articles-section{
	padding: 50px 0;
}

.articles-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 70px;

	&:first-child{
		margin-top: 0;
	}

	@media screen and (min-width: 992px){
		.article-card{
			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(12),
			&:nth-child(14){
				grid-row: span 2;

				.card-image{
					max-height: unset;
					flex: auto;

					&:before{
						height: 100%;
					}
				}

				.card-content{
					flex: none;
				}
			}

			&:nth-child(4),
			&:nth-child(13){
				grid-column: span 2;
			}

			&:last-child{
				grid-row: span 1 !important;
			}
		}
	}

	@media screen and (max-width: 991px){
		margin-top: 45px;
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 575px){
		grid-template-columns: repeat(1, 1fr);
	}
}