.category-main-section{
	padding: 60px 0 35px;

	.tabs-nav{
		margin-bottom: 50px;
	}
}

.production-grid,
.production-categories-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}

.production-categories-list{
	margin-bottom: 110px;
}