.contacts-page{
	margin-top: 45px;

	.contacts-company{
		font-size: 20px;
		line-height: 1.6;
		font-weight: bold;
		color: $text-dark;
		margin-bottom: 100px;
		max-width: 400px;
	}

	.contacts-grid{
		display: grid;
		grid-template-columns: repeat(3, max-content);
		grid-gap: 100px;
		margin-bottom: 115px;

		.column{
			&.with-border{
				padding-left: 32px;
				border-left: 1px solid #E5E5E5;
			}
		}
	}

	.contact-card{
		.card-caption{
			font-size: 15px;
			line-height: 1.333;
			margin-bottom: 20px;
			color: $primary;
			font-weight: bold;
		}

		p{
			font-size: 15px;
			line-height: 2;
			color: #6D8092;
			font-weight: 400;

			a{
				color: inherit;

				&:hover{
					color: $primary;
				}
			}
		}
	}

	.contacts-qr-block{
		display: grid;
		grid-template-columns: 110px 1fr;
		grid-gap: 30px;
		align-items: center;
		font-weight: bold;

		font-size: 16px;
		line-height: 1.35;
		color: $accent;

		&:hover{
			color: $primary;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		.block-text{
			max-width: 160px;
		}
	}
}

.contacts-form{
	padding: 30px 110px 46px;
	background: $accent;
	border-radius: 2px;
	@include clipCorner(40px);
	color: #fff;

	.section-caption{
		margin-bottom: 25px;

		.sc-title{
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
		}

		.sc-subtitle{
			font-weight: 300;
			padding-left: 20px;
		}
	}

	.form-footer{
		display: grid;
		grid-template-columns: 1fr min-content;
		justify-content: space-between;
		grid-gap: 30px;
		margin-top: 30px;

		@media screen and (max-width: 575px){
			grid-template-columns: 1fr;
		}
	}

	@media screen and (max-width: 1319px){
		padding-left: 50px;
		padding-right: 50px;
	}

	@media screen and (max-width: 991px){
		padding-left: 30px;
		padding-right: 30px;
	}

	@media screen and (max-width: 575px){
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
}